.box{
    background: white;
    border-radius: 10px;
    width: 256px;
    height: 100%;
    padding: 28px;
    text-align: center;
    display: inline-block;
}

.box img{
    width: 117px;
}


.form-btn {
    font-size: 13px;
    font-weight: 700;
    border: 0.1px solid black;
    color: black;
    background: none;
    transition: all 0.5s;
}

.form-btn:hover {
    font-size: 13px;
    font-weight: 700;
    border: 0.1px solid #1a49ba;
    color: white;
    background: #1a49ba;
}

@media screen and (max-width: 576px) {
    .boxes{
        text-align: center;
    }
    .box{
        width: 75%;
        margin-right: 0 !important;
    }
}