@charset "ISO-8859-1";

.nav-container {
  min-height: 10vh;
}

.nav-row {
  width: 93%;
  margin: auto;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-row #logo {
  position: relative;
}

.nav-row #logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  background: #0062FF;
  border-radius: 50%;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
  mix-blend-mode: screen;
}

.right .menu-items{
	display:flex;
}
.nav-row .signup {
  background: #1A488E;
  color: white;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}