.section{
    background: #1a49ba14;
    padding: 19px 23px;
}

.section img {
    width: 19px;
    margin: 0 11px;
}
.left-col{
    margin-right: 20px;
    height: fit-content;
}

.left-col h3{
    font-size: 15px;
}

.left-col p{
    font-size: 14px;
    padding: 3px 0;
}

.left-col p:hover {
    background: rgba(128, 128, 128, 0.075);
}

.right-col{
    height: fit-content;
    border-radius: 10px;
    background: white;
}

.right-col h3{
    font-size: 15px;
}

.right-col p{
    font-size: 13.5px;
}

a.form-btn {
    font-size: 13px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    border: 0.1px solid #1a49ba;
    padding: 11px 0;
    background: #1a49ba;
    transition: all 0.5s;
}

a.form-btn:hover {
    color: white;
}

.box{
    background: white;
    border-radius: 10px;
}

.box-title{
    background: #d6d6d66b;
    padding: 12px 19px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.box-content{
    padding: 19px;
}

.new-project {
    background: #1A488E;
    color: white;
    font-weight: bold;
    padding: 13px 17px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .left-col{
        margin-right: 0;
    }
}