.projects-container .search-container input {
  padding: 0 21px;
  height: 37px;
  font-size: 13px;
  border-radius: 15px;
  border: none;
}

.projects-container .search-container input[type=submit] {
  width: 100%;
  background: #ffd642;
  color: black;
}

.projects-container .project .card {
  padding: 20px;
  border: none;
  border-radius: 15px;
  background: white;
}

.projects-container .project .card p {
  font-size: 14px;
  margin: 0 0 4px 0;
}

.projects-container .project .card h3 {
  font-size: 17px;
}

.projects-container .project .card .header .time, .projects-container .project .card .header p {
  font-size: 12px;
  color: #0000008a;
}

.projects-container .project .card .body {
  margin: 20px 0 5px 0px;
}

.projects-container .project .card .footer .col3 img {
  width: 22px;
  margin: 0 11px;
}

.projects-container .categories-container {
  width: 100%;
  float: right;
  margin: 0;
  padding: 20px;
  border-radius: 15px;
  background: white;
}

.projects-container .categories-container h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.projects-container .categories-container p {
  font-size: 14px;
  padding: 3px 0;
}

.projects-container .categories-container a:hover {
  background: #f9fafb;
  border-radius: 15px;
  color: #1a49ba;
}

.projects-container .categories-container .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-container .categories-container .span svg {
  font-size: 16px;
  height: 25px;
  padding: 5px 0;
  margin: 0 5px 0 5px;
}

.left-col{
  margin-right: 30px;
  
}


@media screen and (max-width: 576px) {
  .left-col{
      margin-right:0;
  }
  .search-container {
    margin-top: 1.5rem;
  }
  .search-input{
    margin-bottom: 0.8rem;
    padding-right: 0;
  }
  .projects-container .project .card p {
    font-size: 11px;
  }
  .projects-container .project .card .footer .col3 img {
    width: 22px;
    margin: 0 5px 0 11px;
  }
  .projects-container .project .card h3 {
    font-size: 14px;
  }
}

/*up*/
.projects-container .categories-container h3::after {
  font-family:Fontawesome;
  content:'\f077'; 
  float:right;
  font-weight:300;
}

.projects-container .categories-container h3.collapsed:after {
  font-family:Fontawesome;
  content:'\f078';
}

#demo {
  margin: 17px 0 0 0;
}