.projects-container .project {
  padding: 30px;
  border: none;
  border-radius: 15px;
  background: white;
}

.projects-container .project-info .sub-info p {
  font-size: 12px;
  align-self: center;
  margin: 0;
  color: #969595;
}

.right-col a{
  font-size: 15px;
}

.statistics p, .offers p{
  font-size: 14px;
}

.client-info img{
  width: 111px;
  margin: 0 0 10px 0;
}

.box{
  background: white;
  border-radius: 10px;
}

.box-title{
  background: #d6d6d66b;
  padding: 12px 19px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
}

.box-content{
  padding: 19px;
}

.form-btn {
  font-size: 13px;
  font-weight: 700;
  border: 0.1px solid black;
  color: black;
  background: none;
  transition: all 0.5s;
}

.form-btn:hover {
  font-size: 13px;
  font-weight: 700;
  border: 0.1px solid #1a49ba;
  color: white;
  background: #1a49ba;
}

.question-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-image: linear-gradient(to right bottom, #345ec3, #2e59c1, #2854bf, #214ebc, #1a49ba);
  }

.question-header p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.question-body {
    background: #80808012;
}

.answer-header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right bottom, #345ec3, #2e59c1, #2854bf, #214ebc, #1a49ba);
    color: white;
  }

.answer-header p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.answer-body {
    background: #80808012;
}

#rating {
  width: 16px;
}

.back-link{
  font-size: 14px;
  background: #d6d6d66b;
  padding: 10px;
  border-radius: 31px;
}

.back-link::before{
  font-family:Fontawesome;
  content: '\f053';
  margin: 0px 6px 0 0;
  font-size: 12px;
  color: #1a49ba;
  border: 2px solid #1a49ba;
  border-radius: 50%;
  padding: 2px 4px;
}

.fa-star:before {
  content: "\f005";
  color: #ffd642;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .right-col{
    padding-right: 0;
    padding-left: 0;
  }

  .left-section{
    padding-right: 0 !important;
  }

  .col-sm-4.border.border-dark.text-center.border-top-0.border-bottom-0 {
    border: none !important;
}
}
