.section{
    background: #1a49ba14;
    padding: 19px 23px;
}

.section img {
    width: 19px;
    margin: 0 11px;
}
.left-col{
    margin-right: 20px;
    height: fit-content;
}

.left-col h3{
    font-size: 15px;
}

.left-col p{
    font-size: 14px;
    padding: 3px 0;
}

.left-col p:hover {
    background: rgba(128, 128, 128, 0.075);
}

.right-col{
    height: fit-content;
}

.right-col h3{
    font-size: 15px;
}

.right-col p{
    font-size: 13px;
}

.box{
    background: white;
    border-radius: 10px;
}

.box-title{
    background: #d6d6d66b;
    padding: 12px 19px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
}

.box-content{
    padding: 19px;
}

@media screen and (max-width: 576px) {
    .left-col{
        margin-right: 0;
    }
}