@charset "ISO-8859-1";
.row{
}

.user-profile-pic {
    /* width: 30%; */
    border-radius: 50%;
    border: 0.2px solid;
}

img.location {
    width: 4%;
    height: 91%;
}

.left-section{
  	margin-right: 20px;
  }

.right-section img{
	width: 18px;
	margin: 0 11px;	
}

.right-section .footer{
    display: -webkit-inline-box;
}

.right-section .footer p{
    font-size: 14px;
    line-height: 2;
}
@media screen and (max-width: 576px) {
  .user-loc {
    align-items: center;
    justify-content: center;
  }
  
  .left-section{
  	margin-right: 0;
  }
}
/*.c-info img{
	width:100px;
	height:100px;
}
.location{
		width:20px;
	height:20px;
	margin-left:10px;
}
.bio{
	height:45px
}
.edit {
  background: #1A488E;
  color: white;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  margin: 0 18px 0 0px;
  font-size: 11px;
}
.checked {
  color: orange;
}
.flag{
	width:20px;
	height:20px;
	
}
.money{
	width:20px;
	height:20px;
}
.c-work{
	    max-width: 83.333333%
}*/