@charset "ISO-8859-1";

.user-profile-pic {
    /* width: 30%; */
    border-radius: 50%;
    border: 0.2px solid;
}

img.location {
    width: 4%;
    height: 72%;
}

.left-section{
    margin-right: 20px;
  }

.right-section img{
	width: 18px;
	margin: 0 11px;	
}

.right-section .footer{
    display: -webkit-inline-box;
}

.right-section .footer p{
    font-size: 14px;
    line-height: 2;
}
@media screen and (max-width: 576px) {
  .user-loc {
    align-items: center;
    justify-content: center;
  }
  
  .left-section{
    margin-right: 0;
  }
  .center{
    text-align: center;
  }

  img.location {
    width: 5%;
    height: 72%;
}

}

.rating{
  width: 16px;
}

.info{
  background: #e3e4e42b;
}
