@charset "ISO-8859-1";

.line {
  width: 0.01%;
  position: relative;
  margin: 11px 238px;
  background: black;
  height: 115px;
}

img {
  width: 55%;
  margin: 0 78px;
  /* position: relative; */
  display: block;
}

.left .caption {
  font-weight: bold;
  font-size: 33px;
  padding: 0 58px;
  text-align: left;
  margin: 67px 0 27px 0;
}

.left .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 58px;
}

.left .block .statistics {
  margin: 0 41px 0 0;
}

.left .block .numbers {
  font-size: 31px;
}

.left .block .desc {
  font-size: 17px;
}

.left .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 61px 0 0 58px;
}

.left .categories .category {
  border: 1px solid;
  padding: 0 24px;
  width: 131px;
  border-radius: 10px;
}

.left .categories .category .icon img{
  	width: 37%;
    margin: 0 auto;
    display: block;
    padding: 11px 0 10px 0;
}

    
    
.left .categories .category .title p {
  text-align: center;
  font-size: 13px;
}